* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: cadetblue;
  border: red 3px solid;
}

section {
  text-align: center;
  font-size: 2.5em;
  align-items: center;
  border: greenyellow 3px solid;
}
img {
  height: 300px;
  margin-top: 5rem;
}

@media (min-width: 768px)  {

  img {
    height: 600px;
    margin-top: 10rem;
  }
}

@media (min-width: 1800px)  {
  img {
    height: 800px;
    margin-top: 5rem;
  }
}