.about-grid-container {
  color: white;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  border: red soilid 3px;
}


/* move current styles to a media query */
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: red solid 3px;
  height: 8rem;
  transform: translate(0, -50px);
  
  }

.about-content-left {
  min-width: 60%;
  border: red solid 3px;
}

.about-content-right {
  min-width: 60%;
  border: red solid 3px;
}

.about-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d6c9c9;
  max-height: 3rem;
  border: red 3px solid;
  grid-column: span 4;
  transform: translate(0, -70px);
}

.about-nav-bar a{
  font-weight: bolder;
}

.about-nav-bar a:link {
  color: rgb(18, 181, 230);
}

.about-nav-bar a:visited {
  color:rgb(18, 181, 230)
}
.about-nav-bar a:hover {
  color: rgb(188, 87, 183);
}


 




